
* {
    font-family: $main-font;
    text-decoration: none;
}

body {
    margin: 0;
}

.main-container {
        width: 100%;        
        box-sizing: border-box;
    }   

/****** Header ***********/

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 4px #00000026;
    position: relative;
    z-index: 1;
      
    img {
        width: 50%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    }

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    font-size: 16px;
    font-weight: 500;
    background-color: #EAEAEA; 
    box-shadow: 0px 5px 4px #00000026;  
    position: relative;
    }

/****** Main ***********/

.presentation {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 40px;


    h1 {
        font-size: 24px;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 45px;
        padding-right: 45px;
        margin-bottom: 0;
    }

    p {
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 300;
        font-size: 18px;
    }

    button {
        background: linear-gradient($secondary-color, $main-color);
        border: none;
        color:white;
        font-size: 16px;
        font-weight: 500;
        height: 50px;
        border-radius: 25px;
        margin-left: 80px;
        margin-right: 80px;
        box-shadow: 0px 5px 4px #00000026; 

        &:hover {
            opacity: 0.75;
            transition-duration: 400ms;
            box-shadow: 0px 5px 1px #00000026; 
        }
    }
}

.function {
    display: flex;
    flex-direction: column;
    padding: 20px ;

    h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .boutton {
        display: flex;
        align-items: center;
        
        
        p {
            background-color: $main-color;
            color:white;
            border-radius: 50%; 
            padding: 2px 8px; 
            z-index: 2;         
        }

        button {
            background-color: #F6F6F6;
            border: none;
            font-size: 16px;
            font-weight: 500;
            height: 70px;
            border-radius: 20px;
            width: 100%;
            margin-left: -13px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-right: 35px;
            box-shadow: 0px 4px 4px #00000026;
            

            i {
                margin-right: 25px;               
            }

            .fa-store {
                color: $main-color;
            }            
        }        
    }
}

.restaurant {
    background-color: #F6F6F6;
    padding-bottom: 25px;

    
    h1 {
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 24px;
    }

    .card {
        background-color: white;
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 20px;
        height: 250px;
        margin-bottom: 20px;
        position: relative;  

        .img_restaurant {
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            height: 170px;   
            object-fit: cover; 
        }
      

        .badge {
            border: solid;
            position: absolute;
            top: 10px;
            right: 10px;
            border-color: $tertiary-color;
            background-color: $tertiary-color;
            color: #008766;
            border-radius: 2px;
        }

        .card-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: black;   
            


            .card-txt {
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                
                 
                h2 {
                    margin-bottom: 5px;
                    font-size: 18px;
                }

                p {
                    margin-top: 0px;
                    font-size: 17px;
                    font-weight: 300;
                }
            }
        }
        .card-like {
            position: absolute;
            bottom: 20px;
            right: 40px;

            .hidden-checkbox {
                display: none;                
            }

            .heart {
                cursor: pointer;             
                                  
                .heartlight {
                    opacity: 1;
                    transition: opacity 3s;
                    position: absolute; 
                    bottom: 5px;  
                    width: 25px;  
                    height: 30px; 
                    border-radius: 0;                                                    
                }

                .heartsolid {                    
                    opacity: 0;
                    transition: opacity 3s;
                    position: absolute; 
                    bottom: 5px;  
                    width: 25px;  
                    height: 30px;     
                }
            }

            :checked + .heart .heartlight {
                opacity: 0;   
                            
            }

            :checked + .heart .heartsolid {
                opacity: 1;                  
            }
        }             
    }
}


/****** Footer ***********/

.footer {
    background-color: #353535;
    color: white;
    padding-top: 10px;
    
   

    h1 {
        font-family: $title-font;
        font-size: 20px;
        margin-left: 30px;
        font-weight: 400;
        
    }

    ul {
        list-style-type: none;
        padding-left: 30px;   
        margin-bottom: 0;  
        
    }

    li {
        padding-bottom: 10px;

        a {
            color: white;
        }
        
    }
   
}

///// LOADER //////

@keyframes appearance {
    to { opacity: 1; }
    
}

@keyframes fadeout {
    80% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}

@keyframes fill {
    to { width: 100%; }
}

.main-container {
    opacity: 0; 
    animation: appearance forwards; 
    animation-delay: 3s;  
}


.loader {
    animation: fadeout 2.8s forwards;
    width: 80%;
    height: 80%;                        
    border-radius: 10px;
    position: fixed;
    top: 20%;   
    left: 10%;     
    

    .img_loader {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        justify-content: center;        
        
    }

    .fill_bar {
        margin-top: 10px;
        width: 0;
        height: 10px;
        background: linear-gradient($secondary-color, $main-color);         
        animation: fill 3s;   
        border-radius: 10px;   
        }
}

/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 770px) {

    .logo {
        box-shadow: none;
                 
        img {
            width: 25%;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    .location {
        box-shadow: none;  
       }

    .presentation {       

            h1 {
                font-size: 40px;
                font-weight: 700;
            }
        
            button {
                margin-left: 250px;
                margin-right: 250px;
            }
        }

        .function {   
            
            h1 {
                margin-left: 15px;
            }
               
            .box_boutton {
                display: flex;
                justify-content: space-around;         
            }
            
            .boutton {
                width: 250px;
            
            button {
                padding-right: 0;
            }

            .fa-solid {
                margin-right: 4px;     
            }
                
        }
    }

    .restaurant h1 {
        margin-left: 35px;
    }

    .restaurant_choice {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-right: 18px;
        margin-left: 18px;
    }

    .footer {
        display: flex;       
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 20px;
        padding-top: 30px;

        ul {
            display: flex;
            gap: 15px;
            padding-bottom: 6px;        
        }  
        
        
        h1 {
            margin-left: 80px;
        }
    }
}

/****** Media queries ***********/
/* Medium devices (desktop, more/equal than 1024px) */
@media (min-width: 1024px) {

    .logo img {
        width: 16%;
    }
    
    .presentation button {
        width: 220px;
        margin: auto;
    }

    .function {
        margin-left: 80px;
        margin-right: 80px;

        .boutton {
            width: calc(33% - 40px);
        }
    }

    .restaurant h1 {
        margin-left: 120px;
    }

    .restaurant_choice {
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .footer {
        padding-right: 60px;
    }        
}