/****** Header ***********/


.logo a {
    font-size: 30px;
    position: absolute;
    left: 30px;  
    color: black;
    
    i {
        font-size: 30px;
    }
}


img {
    width: 100%;    
}

.choice {
    background-color: #EAEAEA;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -40px;       
    position: relative;
    padding-top: 10px;

    .card {
        display: flex;
        justify-content: space-between;
    
        h1 {
        font-family: $title-font;
        margin-left: 15px;
        font-weight: 400;
        font-size: 28px;
        }
    

        .hidden-checkbox {
            display: none;
            padding-right: 30px;
        }

        .heart {
            cursor: pointer;
            width: 25px;
            padding-right: 40px;
            margin-top: 25px;
            position: relative;
            

            .heartlight {
                opacity: 1;
                transition: opacity 3s;    
                position: absolute;    
                width: 25px; 
                height: 25px;
                   
            }

            .heartsolid {             
                opacity: 0;
                transition: opacity 3s;  
                position: absolute;   
                width: 25px; 
                height: 25px;        
            }
        
        }

        :checked + .heart .heartlight {
            opacity: 0;  
        }

        :checked + .heart .heartsolid {
            opacity: 1;     
        }
    }   

}
    .repas {
        padding: 15px;
       

        h2 {
        font-weight: 300;
        font-size: 16px;        
        margin-bottom: 0;
        margin-top: 0;
        position: relative;
       } 

       h2::after {
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        background-color: $tertiary-color;
        position: absolute;
        left: 0;
        margin-top: 4px;
    }    
}


 


.container {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 15px;

    .menu { 
        display: flex;
        

        .menu-content {              
            color: black;
            height: 70px;
            padding-left: 15px;
            flex-shrink: 0;
            width: 100%;
            transition: width 0.3s ease-in;   
          
        
        
            h3 {
                margin-top: 10px;
                font-weight: 500;
                font-size: 18px;     
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;              
            }

            .card-subtitle {
                font-weight: 300;
                font-size: 15px;
                margin-top: -5px; 
                display: flex;   
                justify-content: space-between;   
                
                
                .text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;                  
               
                    }
                
                
                   .euro {
                    padding-right: 30px;
                    font-weight: 700;   
                  
            
                    
                                  

                }          
            }              
        }

        .checked {
            background-color: $tertiary-color;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            transition: width 0.3s ease-in;

            
            i {
                display: flex;
                justify-content: center;     
                color: white;
                transform: rotate(-180deg);
                transition: transform 0.3s ease-in;
                font-size: 25px;
            }
        }
    }
}

input[type="checkbox"] {
    display: none;      
}

input[type="checkbox"]:checked + label .menu .menu-content {
    width: calc(100% - 100px);     
}

input[type="checkbox"]:checked + label .menu .checked i {
    transform: rotate(0);
}


.commande {
    justify-content: space-around;
    text-align: center;    
    padding: 20px;

    button {
        width: 250px;
        background: linear-gradient($secondary-color, $main-color);
        border: none;
        color:white;
        font-size: 16px;
        font-weight: 500;
        height: 50px;
        border-radius: 25px;
        margin-left: 80px;
        margin-right: 80px;
        box-shadow: 0px 5px 4px #00000026;  

        &:hover {
            opacity: 0.75;
            transition-duration: 400ms;
            box-shadow: 0px 5px 1px #00000026; 
        }
    }
}