/****** Header ***********/


.logo a {
    font-size: 30px;
    position: absolute;
    left: 30px;  
    color: black;
    
    i {
        font-size: 30px;
    }
   }


img {
    width: 100%;    
}

.menu {
    background-color: #EAEAEA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 40px;
    margin-top: -20px;   

    .card {
        display: flex;
        justify-content: space-between;
    
        h1 {
        font-family: $title-font;
        margin-left: 20px;
        font-weight: 400;
        font-size: 28px;
        }

        i {
        font-size: 25px;   
        display: flex;
        align-items: center;
        margin-right: 30px;
        }
    }   

    .entrées {
        padding: 20px;
    }

    .menu-content {
        background-color: white;
        border-radius: 20px;
    }
}