* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

/****** Header ***********/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 1;
}
.logo img {
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1490196078);
  position: relative;
}

/****** Main ***********/
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 40px;
}
.presentation h1 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 0;
}
.presentation p {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
  font-size: 18px;
}
.presentation button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  border-radius: 25px;
  margin-left: 80px;
  margin-right: 80px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1490196078);
}
.presentation button:hover {
  opacity: 0.75;
  transition-duration: 400ms;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.1490196078);
}

.function {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.function h1 {
  font-size: 24px;
  font-weight: bold;
}
.function .boutton {
  display: flex;
  align-items: center;
}
.function .boutton p {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  z-index: 2;
}
.function .boutton button {
  background-color: #F6F6F6;
  border: none;
  font-size: 16px;
  font-weight: 500;
  height: 70px;
  border-radius: 20px;
  width: 100%;
  margin-left: -13px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
}
.function .boutton button i {
  margin-right: 25px;
}
.function .boutton button .fa-store {
  color: #9356DC;
}

.restaurant {
  background-color: #F6F6F6;
  padding-bottom: 25px;
}
.restaurant h1 {
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
}
.restaurant .card {
  background-color: white;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  height: 250px;
  margin-bottom: 20px;
  position: relative;
}
.restaurant .card img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 170px;
}
.restaurant .card .badge {
  border: solid;
  position: absolute;
  top: 10px;
  right: 10px;
  border-color: #99E2D0;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
}
.restaurant .card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.restaurant .card .card-content .card-txt {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.restaurant .card .card-content .card-txt h2 {
  margin-bottom: 5px;
  font-size: 18px;
}
.restaurant .card .card-content .card-txt p {
  margin-top: 0px;
  font-size: 17px;
  font-weight: 300;
}
.restaurant .card .card-content .card-like .hidden-checkbox {
  display: none;
  padding-right: 30px;
}
.restaurant .card .card-content .card-like .heart {
  cursor: pointer;
  padding-right: 50px;
  position: relative;
  bottom: 5px;
}
.restaurant .card .card-content .card-like .heart .heartlight {
  opacity: 1;
  transition: opacity 3s;
  position: absolute;
  bottom: 5px;
  width: 25px;
  height: 30px;
  border-radius: 0;
}
.restaurant .card .card-content .card-like .heart .heartsolid {
  opacity: 0;
  transition: opacity 3s;
  position: absolute;
  bottom: 5px;
  width: 25px;
  height: 30px;
}
.restaurant .card .card-content .card-like :checked + .heart .heartlight {
  opacity: 0;
}
.restaurant .card .card-content .card-like :checked + .heart .heartsolid {
  opacity: 1;
}

/****** Footer ***********/
.footer {
  background-color: #353535;
  color: white;
  padding-top: 10px;
}
.footer h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  margin-left: 30px;
  font-weight: 400;
}
.footer ul {
  list-style-type: none;
  padding-left: 30px;
  margin-bottom: 0;
}
.footer li {
  padding-bottom: 10px;
}
.footer li a {
  color: white;
}

@keyframes appearance {
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fill {
  to {
    width: 100%;
  }
}
.main-container {
  opacity: 0;
  animation: appearance forwards;
  animation-delay: 3s;
}

.loader {
  animation: fadeout 2.8s forwards;
  width: 80%;
  height: 30px;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 10%;
}
.loader .img {
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.loader .fill_bar {
  margin-top: 10px;
  width: 0;
  height: 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: fill 3s;
  border-radius: 10px;
}

/****** Header ***********/
.logo a {
  font-size: 30px;
  position: absolute;
  left: 30px;
  color: black;
}
.logo a i {
  font-size: 30px;
}

img {
  width: 100%;
}

.choice {
  background-color: #EAEAEA;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -40px;
  position: relative;
  padding-top: 10px;
}
.choice .card {
  display: flex;
  justify-content: space-between;
}
.choice .card h1 {
  font-family: "Shrikhand", sans-serif;
  margin-left: 15px;
  font-weight: 400;
  font-size: 28px;
}
.choice .card .hidden-checkbox {
  display: none;
  padding-right: 30px;
}
.choice .card .heart {
  cursor: pointer;
  width: 25px;
  padding-right: 40px;
  margin-top: 25px;
  position: relative;
}
.choice .card .heart .heartlight {
  opacity: 1;
  transition: opacity 3s;
  position: absolute;
  width: 25px;
  height: 25px;
}
.choice .card .heart .heartsolid {
  opacity: 0;
  transition: opacity 3s;
  position: absolute;
  width: 25px;
  height: 25px;
}
.choice .card :checked + .heart .heartlight {
  opacity: 0;
}
.choice .card :checked + .heart .heartsolid {
  opacity: 1;
}

.repas {
  padding: 15px;
}
.repas h2 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  animation: slideinleft 1s ease-out forwards;
}
.repas h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  margin-top: 4px;
}

.container {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 15px;
  animation: slideinright 1s ease-out forwards;
}
.container .menu {
  display: flex;
}
.container .menu .menu-content {
  color: black;
  height: 70px;
  padding-left: 15px;
  flex-shrink: 0;
  width: 100%;
  transition: width 0.3s ease-in;
}
.container .menu .menu-content h3 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .menu .menu-content .card-subtitle {
  font-weight: 300;
  font-size: 15px;
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
}
.container .menu .menu-content .card-subtitle .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .menu .menu-content .card-subtitle .euro {
  padding-right: 30px;
  font-weight: 700;
}
.container .menu .checked {
  background-color: #99E2D0;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: width 0.3s ease-in;
}
.container .menu .checked i {
  display: flex;
  justify-content: center;
  color: white;
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in;
  font-size: 25px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label .menu .menu-content {
  width: calc(100% - 100px);
}

input[type=checkbox]:checked + label .menu .checked i {
  transform: rotate(0);
}

.commande {
  justify-content: space-around;
  text-align: center;
  padding: 20px;
}
.commande button {
  width: 250px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  border-radius: 25px;
  margin-left: 80px;
  margin-right: 80px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1490196078);
}
.commande button:hover {
  opacity: 0.75;
  transition-duration: 400ms;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.1490196078);
}

@keyframes slideinleft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideinright {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=stylesmain.css.map */
