/* Error: Expected expression.
 *     ,
 * 220 |                 margin-top: ;
 *     |                             ^
 *     '
 *   SASS\_index.scss 220:29   @import
 *   SASS\stylesmain.scss 3:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a     \2577 \a 220 \2502                  margin-top: ;\d\a     \2502                              ^\a     \2575 \a   SASS\\_index.scss 220:29   @import\a   SASS\\stylesmain.scss 3:9  root stylesheet";
}
